/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #e3f2fd; /* Azul claro */
    color: #333;
    margin: 0;
    padding: 20px;
    text-align: justify;
}

/* Estilo del título */
h1 {
    text-align: center;
    background-color: #0073e6; /* Azul fuerte */
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-size: 24px;
}

/* Contenedor de texto */
p {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: 20px auto;
    line-height: 1.6;
}

/* Resaltar los beneficios y usos */
p::first-line {
    font-weight: bold;
    color: #000000;
}
.imagen {
    display: block;
    max-width: 30%;
    height: auto;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


