@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #101116;
}

header {
    background-image: url(imagenes/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.menu {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    width: 150px;
}

.menu .navbar ul {
    list-style: none;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #FDFDFD;
    display: block;
    text-transform: uppercase;
}

.menu .navbar ul li a:hover {
    color: #E70B25;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    display: flex;
    align-items: center;
    padding: 200px 0 150px 0;
}

.header-txt {
    width: 40%;
    padding-right: 25px;
}

.header-txt h1 {
    font-size: 55px;
    line-height: 70px;
    font-weight: 800;
    color: #FDFDFD;
    margin-bottom: 25px;
}

.header-txt p {
    font-size: 18px;
    color: #A0A0A0;
}

.header-img {
    width: 60%;
}

.hamburger {
    width: 100%;
}

.botones {
    display: flex;
    margin-top: 50px;
}

.btn-1 {
    display: inline-block;
    background: linear-gradient(90deg, #E70B25 0%, #900314 100%);
    padding: 10px 35px;
    margin-right: 20px;
    color: #FDFDFD;
    border-radius: 25PX;
}

.btn-2 {
    display: inline-block;
    border: 1px solid #FDFDFD;
    padding: 10px 35px;
    margin-right: 20px;
    color: #FDFDFD;
    border-radius: 25PX;
}

.btn-1:hover {
    background: linear-gradient(90deg, #FA0D29 0%, #900314 100%);
}

.btn-2:hover {
    border:  1px solid #FA0D29;
}

.icon {
    width: 20px;
}

.product-menu {
    padding: 50px 0 150px 0;
}

.title {
    color: #FDFDFD;
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.product {
    display: flex;
    position: relative;
}

.hoja {
    right: 0;
    position: absolute;
    bottom: -130px;
    width: 150px;
}

.menu-nav {
    display: flex;
    justify-content: center;
    gap: 20px; 
    margin: 30px 0;
}

.tab {
    margin-right: 20px;
    text-align: center;
    padding: 10px 35px;
    border-radius: 25px;
    color: #A0A0A0;
    font-size: 16px;
    font-weight: 800;
    background-color: #24252A;
    cursor: pointer;
}

.tab.active {
    background: linear-gradient(90deg, #E70B25 0%, #900314 100%);
    color: #FDFDFD;
}

.tab.active::after {
    content: "";
    position: absolute;
    width: 100%;
}

.tab-content {
    display: none;
}

.tab-content.visible {
    display: initial;
}

.box-container-1,
.box-container-2,
.box-container-3 {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.box-1,
.box-2,
.box-3 {
    background-image: url(imagenes/bg-p.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
}

.box-1:nth-child(1),
.box-1:nth-child(2),
.box-1:nth-child(3),
.box-1:nth-child(4) {
    display: inline-block;
}

.box-2:nth-child(1),
.box-2:nth-child(2),
.box-2:nth-child(3),
.box-2:nth-child(4) {
    display: inline-block;
}

.box-3:nth-child(1),
.box-3:nth-child(2),
.box-3:nth-child(3),
.box-3:nth-child(4) {
    display: inline-block;
}

.image {
    margin-bottom: 20px;
    text-align: center;
}

.image img {
    width: 180px;
}

.content h3 {
    font-size: 20px;
    color: #FDFDFD;
}

.content p {
    font-size: 15px;
    color: #A0A0A0;
    line-height: 2;
    font-size: 15px;
    padding: 15px 0;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid #334;
    color: #334;
    font-size: 16px;
}

.btn:hover {
    background-color: rgb(220, 20, 60);
    border-color:  rgb(220, 20, 60);
    color: #FDFDFD;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #334;
}

.price {
    font-size: 14px;
    color: #A0A0A0;
}

.buy {
    padding: 1px 15px 0px 15px;
    border-radius: 15px;
    background: linear-gradient(90deg, #95B52C 0%, #586E25 100%);
}

.buy img {
    width: 15px;
}

.load-more {
    margin-top: 50px;
    display: inline-block;
    padding: 13px 35px;
    border-radius: 25px;
    border: 1px solid #A0A0A0;
    color: #A0A0A0;
    font-size: 16px;
    cursor: pointer;
}

.load-more:hover {
    background: linear-gradient(90deg, #E70B25 0%, #900314 100%);
    border-color: rgb(200, 20, 60);
    color: #FDFDFD;
}

.info {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(imagenes/bg-info.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

.info-content {
    display: flex;
    position: relative;
}

.info-txt {
    width: 60%;
    margin-top: 85px;
}

.info-txt h2 {
    color: #FDFDFD;
    font-size: 55px;
    margin-bottom: 25px;
}

.info-txt p {
    font-size: 20px;
    color: #A0A0A0;
    margin-bottom: 25px;
}

.info-sec {
    display: flex;
}

.info-1 {
    display: flex;
}

.info-1 img {
    width: 80px;
}

.info-2 {
    margin-left: 25px;
}

.info-2 h3 {
    color: #FDFDFD;
    font-size: 25px;
}

.info-2 p {
    color: #A0A0A0;
    font-size: 16px;
}

.info-img {
    position: absolute;
    right: -50px;
    top: 100px;
}

.info-img img {
    width: 400px;
}

.footer {
    padding: 150px 0 100px 0;
    display: flex;
    justify-content: space-between;
}

.logo-2 {
    width: 150px;
}

.links h4 {
    color: #FDFDFD;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.links ul li a {
    color: #FDFDFD;
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
}

.socials {
    display: flex;
}

.social {
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border: 1px solid #DD241B;
    border-radius: 50%;
}

.social:hover {
    background-color: #DD241B;
}

.social img {
    margin: 8px 0 0 10px;
}

@media(max-width: 991px ) {

    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #F61706;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    .menu .navbar ul li a:hover {
        color: #b0b0b0;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header-content {
        flex-direction: column;
        padding: 180px 30px 30px 30;
    }

    .header-txt {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .header-txt h1 {
        font-size: 40px;
    }

    .botones {
        flex-direction: column;
        align-items: center;
    }

    .btn-1 {
        margin: 0 0 20px 0;
    }

    .btn-2 {
        margin: 0 0 20px 0;
    }

    .header-img {
        width: 100%;
        margin-top: 45px;
    }

    .product-menu {
        padding: 30px;
    }

    .title {
        margin-bottom: 20px;
    }

    .hoja {
        display: none;
    }

    .menu-nav {
        flex-direction: column;
        align-items: center;
    }

    .tab {
        margin-bottom: 25px;
    }

    .box-container {
        grid-template-columns: 1fr;
    }

    .box .image {
        height: 200px;
    }

    .info {
        padding: 30px;
        height: 70vh;
    }

    .info-txt h2 {
        font-size: 40px;
    }

    .info-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .info-txt {
        width: 100%;
        margin-top: 0px;
    }

    .info-txt p {
        margin-bottom: 5px;
    }

    .info-sec {
        flex-direction: column;
        padding: 0px 35px;
    }

    .info-1 {
        flex-direction: column;
        align-items: center;
        padding-top: 15px;
    }

    .info-2 {
        margin-top: 10px;
        margin-left: 0;
    }

    .info-img img {
        display: none;
    }

    .socials {
        justify-content: center;
    }

    .social img {
        margin: 8px 0 0 0;
    }

    .footer{
        padding: 30px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .links h4 {
        margin: 25px 0 10px 0;
    }
    

    /* Estilos para el submenú */
.navbar ul ul {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 0;
    margin: 0;
    list-style: none;
}

.navbar ul li {
    position: relative;
}

.navbar ul li:hover > ul {
    display: block;
}

.navbar ul ul li {
    width: 150px;
    border-bottom: 1px solid #ccc;
}

.navbar ul ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
}

}


.back-button {
    display: inline-block;
    background: linear-gradient(90deg, #E70B25 0%, #900314 100%);
    padding: 10px 35px;
    margin-right: 20px;
    color: #FDFDFD;
    border-radius: 25PX;
}

.back-button:hover {
    background: linear-gradient(90deg, #FA0D29 0%, #900314 100%);
}

.info1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(imagenes/bg-info.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.info2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(imagenes/bg-info.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 140vh;
}

.info-img2 {
    position: absolute;
    right: -150px;
    top: 100px;
}
.info-img2 img {
    width: 600px;
}

.info3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(imagenes/bg-info.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 155vh;
}

.info-img3 {
    position: absolute;
    right: -150px;
    top: 200px;
}
.info-img3 img {
    width: 600px;
}

.header-img2 {
        width: 60%;
}

.header-txt2 {
    width: 65%;
    padding-right: 25px;
}

.header-txt2 h1 {
    font-size: 55px;
    line-height: 70px;
    font-weight: 800;
    color: #FDFDFD;
    margin-bottom: 25px;
}

.header-txt2 p {
    font-size: 18px;
    color: #A0A0A0;
}

/* From Uiverse.io by roajuan93 */ 
.card {
  width: fit-content;
  height: fit-content;
  background-color: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  border-radius: 5px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}
/* Tiktok*/
.containerTwo:hover {
  background-color: #25f4ee;
  transition-duration: 0.3s;
}
/* Facebook*/
.containerThree:hover {
  background-color: #1877f2;
  transition-duration: 0.3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: green;
  transition-duration: 0.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 19px;
}
.largeIcon {
  width: 27px; /* Ancho específico solo para el icono de TikTok */
}
.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
